[submodule "deps/acpica"]
	path = deps/acpica
	url = ../bits-acpica.git
	branch = bits-unix2-20220331
	fetchRecurseSubmodules = true
[submodule "deps/fdlibm"]
	path = deps/fdlibm
	url = ../bits-fdlibm.git
	branch = bits
	fetchRecurseSubmodules = true
[submodule "deps/grub"]
	path = deps/grub
	url = ../bits-grub.git
	branch = bits
	fetchRecurseSubmodules = true
[submodule "deps/libffi"]
	path = deps/libffi
	url = ../bits-libffi.git
	branch = bits
	fetchRecurseSubmodules = true
[submodule "deps/python"]
	path = deps/python
	url = ../bits-python.git
	branch = bits
	fetchRecurseSubmodules = true
